<ul class="nav nav-pills my-4 py-1 border-bottom border-2 border-primary" id="pills-tab" role="tablist">


    <li class="nav-item">
        <a href="{% url 'myapp:account_profile'%}" class="nav-link {{ page.profile.active }}">Аккаунт</a>
    </li>

    <li class="nav-item">
        <a href="{% url 'myapp:account_history'%}" class="nav-link {{ page.history.active }}">История</a>
    </li>

    <li class="nav-item ms-auto">
        <a href="{% url 'myapp:logout' %}" class="nav-link">Выход</a>
    </li>


</ul>