{% load tz %}

<div class="mt-4 border table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            {% for header in subs_table.headers %}
                <th scope="col">
                    {{ header }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in subs_table.dataset %}
                <tr>
                    <td>{{ row.email }}</td>
                    <td>{{ row.cost_value }}</td>
                    <td>{{ row.revenue }}</td>
                    <td>{{ row.commission }}</td>
                    <td>{{ row.reg_date|localtime|date:"d/m/Y G:i" }}</td>
                    <td>{{ row.period }} мес.</td>
                    <td>
                        <button type="button" class="border-0 p-0 bg-transparent text-decoration-underline" data-bs-toggle="tooltip" data-bs-html="true"
                                title="{% for quota in row.quotas %}{{ quota.name }}: {{ quota.value }}<br>{% endfor %}">
                          {{ row.tariff }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>